<%= form_for [@story, @comment] do |f| %>
  <%= f.error_messages %>
  <fieldset>
    <legend>Comment on "<%= @story.headline %>"</legend>
    <div class='form-group'>
      <%= f.label :comment %>
      <%= f.text_area :comment, :class => 'form-control' %>
    </div>
    <%= f.submit %>
  </fieldset>
<% end %>
